<!DOCTYPE html>
<html xmln:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div class="card">
			<div class="card-body">
				<h4 class="text-center">Add Leave</h4>
				<div>

					<form action="/user/process_leave" method="post" th:object="${leave}">
						<div class="form-group">
							<label for="exampleFormControlInput1">Emplyoee Name</label>
							<input name="EmplyoeeName" type="text" class="form-control" id="exampleFormControlInput1"
								placeholder="Your Name">
						</div>
						<div class="form-group">
							<label for="exampleFormControlInput1">Emplyoee Id</label>
							<input name="EmplyoeeId" type="text" class="form-control" id="exampleFormControlInput1"
								placeholder="Your Id">
						</div>

						<div class="form-row">
							<div class="col">
								<label for="formGroupExampleInput2">From Date</label>
								<input name="StartDate" type="date" class="form-control addAttendance"
									id="formGroupExampleInput2" placeholder="Another input">
							</div>
							<div class="col">
								<label for="formGroupExampleInput2">To Date</label>
								<input name="endDate" type="date" class="form-control addAttendance"
									id="formGroupExampleInput2" placeholder="Another input">
							</div>


							<div class="form-group">
								<label for="exampleFormControlSelect1">Leave Type</label>
								<select name="leaveType" class="form-control" id="exampleFormControlSelect1">
									<option value="Unpaid Leave">Unpaid Leave</option>
									<option value="Casual Leave">Casual Leave</option>
									<option value="Study Leave">Study Leave</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="exampleFormControlTextarea1">Description</label>
							<textarea name="description" class="form-control" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="container text-center">
							<button class="btn btn-outline-primary">Add Leave</button>
						</div>
					</form>
				</div>

			</div>
		</div>

	</section>

</body>

</html>