<!DOCTYPE html>
<html xmln:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<div>
			<div class="card mr-4">
				<div class="card-body">
					<h1 class="text-center">Add Emplyoee</h1>
					<form action="#" th:object="${contact}" enctype="multipart/form-data" method="post"
						th:action="@{/user/process_contact}">
						<div class="row">
							<div class="col">
								<input type="text" name="name" class="form-control" placeholder=" name">
							</div>
							<div class="col">
								<input type="text" name="secondName" class="form-control" placeholder="Nik name">
							</div>
						</div>
						<div class="row  mt-3">
							<div class="col">
								<input type="text" name="work" class="form-control" placeholder="Work">
							</div>
							<div class="col">
								<input type="text" name="email" class="form-control" placeholder="email">
							</div>
						</div>
						<div class="row mt-3">
							<div class="col">
								<input type="text" name="phone" class="form-control" placeholder="Phone">
							</div>
							<div class="col">
							<select name="department" class="form-control" aria-label="Default select example">
								<option selected>Select Department</option>
								<option value="Sales">Sales</option>
								<option value="Marketing">Marketing</option>
								<option value="IT">IT</option>
								<option value="Production">Production</option>
								<option value="Purchase">Purchase</option>
							</select>
							</div>
						</div>
						<div class="row  mt-3">
						
							<div class="col">
							<select name="shiftTime" class="form-control" aria-label="Default select example">
								<option selected>Select Shift Time</option>
								<option value="8:00 AM to 6:00 PM">8:00 AM to 6:00 PM</option>
								<option value="2:00 PM to 10 PM">2:00 PM to 10:00 PM</option>
								<option value="12:00 AM to 8:00 AM">12:00 AM to 8:00 AM</option>
							</select>
							</div>
							<div class="col">
								<input class="form-control" type="date" name="Hiredate"> 
								</div>
						</div>
						<div class="row col mt-3">
							Gender :&nbsp	<div class="form-check">
								<input class="form-check-input" type="radio" name="Gender" id="exampleRadios1" value="Male" checked>
								<label class="form-check-label" for="exampleRadios1">
									Male &nbsp;
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="Gender" id="exampleRadios2" value="Female">
								<label class="form-check-label" for="exampleRadios2">
									Female
								</label>
							</div>
						</div>
						<div class="mt-3">
							<input id="mytextarea" type="text" name="description" class="form-control"
								placeholder="description">
						</div>
						<div class="row mt-3">
							<div class="col custom-file">
								<input type="file" name="profileImage">
							</div>

						</div>
						
						<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
							referrerpolicy="origin"></script>
						<script>
							tinymce.init({
								selector: '#mytextarea'
							});
						</script>
						<div class="container text-center">
							<button class="btn btn-outline-primary">Save Data</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

</body>

</html>