<!DOCTYPE html>
<html  xmln:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})"> 
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
	<div class="card"  >
		<div class="card-body">
			
			<div class=" text-center">
				
				
				<h1 th:text="${heading}"> </h1>
				<div class="table-responsive">
				 <table class="table ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr No.</th>
                                <th scope="col">Emplyoee ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Shift Time</th>
                                <th scope="col">Hired Date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="(c, i : ${EmplyoeeList})">
                                <td th:text="${i.index + 1}"></td>
                                <th th:text="${c.cId}" scope="row">1</th>
                                <td><img class="profile_image" th:src="@{'/images/'+${c.image}}"> <span
                                        th:text="${c.Name}"></span></td>
                                <td> <a th:href="@{'/user/'+${c.cId}+'/contact'}"><span th:text="${c.email}"></span></a>
                                </td>
                                <td th:text="${c.phone}">@mdo</td>
                                <td th:text="${c.Gender}">@mdo</td>
                                <td th:text="${c.shiftTime}">@mdo</td>
                                <td th:text="${c.Hiredate}">@mdo</td>
                                <td class="row">
                                    <a th:href="@{'/user/'+${c.cId}+'/delete'}"><button
                                            class="btn btn-danger btn-sm">Delete</button></a>
                                    <form th:action="@{'/user/'+${c.cId}+'/update'}" method="Post">
                                        <button class="btn btn-primary btn-sm ml-2">Update</button>
                                    </form>

                                </td>
                            </tr>


                        </tbody>
                    </table>
				</div>
			</div>
			
		</div>
		</div>
		
	</section>

</body>
</html>